In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("canadapostal.csv")

In [4]:
df

,Postal Code,Borough,Neighborhood
0,M1A,Not assigned,NaN
1,M1B,Scarborough,"Malvern, Rouge"
2,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek"
3,M1E,Scarborough,"Guildwood, Morningside, West Hill"
4,M1G,Scarborough,Woburn
...,...,...,...
175,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest..."
176,M9W,Etobicoke,Northwest
177,M9X,Not assigned,NaN
178,M9Y,Not assigned,NaN
179,M9Z,Not assigned,NaN

# Ignore any cells that do not have borough assigned:

In [5]:
df.drop(df[df['Borough'] == 'Not assigned'].index, inplace = True)

# Number of rows:

In [6]:
df.shape

(103, 3)